body{
    margin: 0;
}
.flexible{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.o{
    color: lightsalmon;
}
.oi{
    color: lightgray;
}
.oii{
    color: white;
}
.end{
    width: 100%;
    height: 200px;
    margin-top: 50px;
    text-align: center;
    background-color: black;
}

.flexible2{
    display: flex;
    background-color: lightgrey;
    align-items: center;
    justify-content: space-between;
    
}
.container{
   text-align: center;  
    font-size: 30px;
    
}
.container2{
    font-size: 30px;
    display: flex;
  
   
    justify-content: center;
    align-items: center;
    margin: auto;
    column-gap: 120px;
}
.box img{
    width: 100%;
}
.ordhek{
   
}
.box{
    width: 25%;
    border-radius: 10px;
    box-shadow: 15px 10px 30px 10px grey;   
}
.box2{
    width: 80%;
    justify-content: center;
    display: flex;
    margin: auto;
    border-radius: 10px;
    box-shadow: 15px 10px 30px 10px grey; 
}
.container3{
   width: 25%;
   
}
.up{
    margin-bottom: 150px;
    justify-content: center;
    align-items: center;
}
.one{
    color: lightgreen;
    font-size: 90px;
}
.half{
    width: 50%;
   margin-left: 50px;
}
.flexible h1{
    font-size: 70px;
}
.two{
    text-decoration: none;
    background-color: lightcoral;
    color: white;
    margin:20px;
    padding: 20px 50px;
    border-radius: 30px;
}
.com{
    margin-bottom: 50px;
    font-size: 50px;
}

.image{
    width: 100%;
    
}
